td{
    border: 2px solid black;
    width: 140px;
    height: 40px;
    vertical-align: center;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin-left: 200px;
    margin-top: 100px;
}
.tabl{
    background-color: cornflowerblue;
    font-weight: 900;
}